body {
  background-color: #191414;
  color: white;
  margin: 20px;
  font: 32px "Century Gothic", Futura, sans-serif;
}

.game { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  background-color: #1DB954;
  color: white;
  border: 1px solid 30 215 96;
  border-color: 30 215 96;
  padding: 1;
  font-size: 84px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.square:focus {
  outline:none;
  background-color: #222;
}

.status {
margin: 20px;
font-size: 24px;
color: 30 215 96;

}